body {
  background-color:blanchedalmond;
}

.gameBoard {
  padding-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  height: 50vh;
}

.gameRow {
  display: flex;
  gap: 2vmin;
}

.gameBlock {
  padding: 50px;
  background-color: azure;
  border: 1px;
  border-style: solid;
}