body {
  display: flex;
  justify-content: center;
  background-color:blanchedalmond;
}

.gameBoard {
  padding-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  height: 50vh;
}

.gameRow {
  display: flex;
  gap: 2vmin;
}

.gameBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: azure;
  border: 1px solid;
  box-sizing: border-box;
}